.home{
    /* background-image: url(../../images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    margin-top: 3.9rem;
}


.our-campus{
    /* background-image: url(../../images/campus-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    margin-bottom: 4rem;
}